<phpunit
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    colors="true"
    printerClass="LifeWorksForks\PHPUnitImmediateExceptionPrinter\ImmediateExceptionPrinter"
>
    <testsuite>
        <directory suffix=".phpt">functional</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
