<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  colors="true"
>
  <testsuites>
    <testsuite name="Default">
      <directory suffix=".phpt">functional</directory>
      <directory suffix=".phpt">config</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>../src</directory>
    </include>
  </source>

  <extensions>
    <bootstrap class="ScriptFUSION\Pip\PipExtension"/>
  </extensions>
</phpunit>
